body{
    display: flex;
    justify-content: center;
}
.tela{
    display: flex;
    justify-content: end;
}
label{
    color: white;
    font-size: 45px;
    margin-right: 12px;
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
}
.celular{
    width: 200px;
    height: 340px;
    background-color: #000000;
    padding: 80px 20px 20px 20px;
    border-radius: 40px;
}

button{
    border-radius: 100px;
    width: 45px;
    height: 45px;
    border: none;
    font-size: 15px;
    margin: 2px 0px;
}

.botoes{
    margin-top: 15px;
    margin-bottom: 8px;
}

#zero{
    width: 95px;
    text-align: left;
    padding-left: 20px;
}
.nums{
    background-color: #333333;
    color: white;
    transition: all 0.2s;
}
.nums:hover{
    background-color: #474747;
}
.laranja {
    background-color: orange;
    transition: all 0.2s;
}
.laranja:hover{
    background-color: rgb(212, 138, 0);
}
.special{
    background-color: #A5A5A5;
    color: black;
    transition: all 0.2s;
}
.special:hover{
    background-color: #8a8a8a
}
.border1{
    display: flex;
    justify-content: center;
}
.border2{
    margin-top: 26px;
    border-bottom: 3px solid white;
    width: 70px;
}
